/* Colors */

// fun and pro
// $primary-color: #4ABDAC;
// $secondary-color: #FC4A1A;
// $primary-color-light: #DFDCE3;
// $secondary-color-light: #F7B733;

// clean gradients

$primary-color: #77C9D4;
$secondary-color: #015249;
$primary-color-light: #57BC90;
$secondary-color-light: #A5A5AF;
